.Container {
  color: white;
  font-family: var(--primary-font);
  opacity: 0.5;

  .Message {
    // border: 1px solid red;
    // width: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .CurrentSection {
      width: 5rem;
    }
    button {
      cursor: pointer;
      font-family: var(--secondary-font);
      background: none;
      color: white;
      border: 0.1rem solid white;
      padding: 1rem;
      border-radius: 2rem;
      font-size: 0.5rem;
    }
    @media screen and (min-width: 768px) {
      padding: 1rem;
      font-size: 1.5rem;
      .CurrentSection {
        width: 10rem;
      }
      button {
        font-size: 1.5rem;

        margin-left: 1rem;
        border-radius: 3rem;

        transition: all 0.2s ease-in-out;
        &:hover {
          background: white;
          color: black;
          border-color: white;
          scale: 1.25;
        }
      }
    }
    @media screen and (min-width: 1500px) {
      font-size: 2rem;
      .CurrentSection {
        width: 15rem;
      }
      button {
        border-radius: 4rem;
        font-size: 2rem;
      }
    }
  }
}
