.Container {
  color: white;
  font-family: var(--primary-font);
  opacity: 0.5;

  .Message {
    // border: 1px solid red;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (min-width: 768px) {
      padding: 1rem;
    }
    button {
      cursor: pointer;
      font-family: var(--secondary-font);
      background: none;
      color: white;
      border: 0.1rem solid white;
      padding: 1rem;
      border-radius: 2rem;
      font-size: 0.5rem;
      scale: 0.75;
      @media screen and (min-width: 768px) {
        scale: 1;
        margin-left: 1rem;

        transition: all 0.2s ease-in-out;
        &:hover {
          background: white;
          color: black;
          border-color: white;
          scale: 1.25;
        }
      }
    }
  }
}
