@import 'public/fonts/fonty.scss';

* {
  box-sizing: border-box;
}

:root {
  --primary-font: 'Steps-Mono', sans-serif;
  --secondary-font: 'Pilowlava', sans-serif;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.5;
  }
}
canvas {
  max-height: 100vh;
  overflow: hidden !important;
}
