@import 'public/fonts/fonty.scss';

* {
  box-sizing: border-box;
}

:root {
  --primary-font: 'Steps-Mono', sans-serif;
  --secondary-font: 'Pilowlava', sans-serif;
}

// html,
body {
  margin: 0;
  padding: 0;
}

body {
  // overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--secondary-font);
  animation: linkPulse 2s infinite;
}

@keyframes linkPulse {
  0% {
    filter: blur(0.1rem);
    opacity: 0.75;
  }
  50% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(0.1rem);
    opacity: 0.75;
  }
}
